<%- include('partials/header') -%>
  <main class="container mx-auto">
    <header>
      <h1 class="page-title"><%= account.name %></h1>
    </header>
    <div class="main-card">
      <h2 class="table-title">Account Details</h2>
      <section>
        <form class="grid grid-cols-12 gap-x-8 gap-y-2" action="/accounts/<%= account._id %>?_method=PUT" method="POST">
          <div class="form-control col-span-12 sm:col-span-6">
            <label for="number" class="label">
              <span class="label-text">Account #</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="number" name="number" value="<%= account.number %>">
          </div>
          <div class="form-control col-span-12 sm:col-span-6">
              <label for="name" class="label">
                <span class="label-text">Name</span>
              </label>
              <input type="text" class="input input-bordered input-sm" id="name" name="name" value="<%= account.name %>">
          </div>
          <div class="form-control col-span-12">
            <label for="description" class="form-label">
              <span class="label-text">Description</span>
            </label>
            <textarea class="textarea textarea-bordered" id="description" name="description"><%= account.description %></textarea>
          </div>
          <div class="col-span-12 my-4 flex justify-center">
            <button id="update-account" class="btn btn-accent" type="submit">Update Account</button>
            <a class="btn btn-secondary btn-outline ml-2" href="/accounts">Cancel</a>     
          </div>
        </form>
        <div class="flex justify-center">

        </div>
      </section>
    </div>
    <div class="main-card">
      <h2 class="table-title">Transactions - <%= account.name %></h2>
      <section class="overflow-x-auto">
        <table class="table table-compact w-full">
          <thead>
            <tr>
              <th scope="col">
                <a class="link" href="/accounts/<%= account._id %>/sort/date">Date</a>                  
              </th>

              <th scope="col">
                <a class="link" href="/accounts/<%= account._id %>/sort/payee">Payee</a>
              </th>
              <th scope="col" class="text-right">
                <a class="link" href="/accounts/<%= account._id %>/sort/income">Income</a>
              </th>
              <th scope="col" class="text-right">
                <a class="link" href="/accounts/<%= account._id %>/sort/expense">Expense</a>
              </th>
              <th scope="col" class="text-right">Info/Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if(!transactions.length) { %>
              <tr>
                <td colspan="6">
                  <p class="text-center">No transactions found.</p>
                </td>
              </tr>
            <% } %>
            <% for(var i=0; i < transactions.length; i++) { %>          
              <tr>
                <td><%= transactions[i].date %></td>
                <td>
                  <a class="link" href="/entities/<%= transactions[i].payeeId %>">
                    <%= transactions[i].payee %>
                  </a>
                </td>
                <% if(transactions[i].income) { %>
                  <td class="text-green-500 text-right">$<%= transactions[i].income %></td>
                <% } else { %>
                  <td></td>
                <% } %>
                <% if(transactions[i].expense) { %>
                  <td class="text-red-500 text-right">- $<%= transactions[i].expense %></td>
                <% } else { %>
                  <td></td>
                <% } %>      
                <td class="border-b-0 text-right">
                  <a class="btn btn-outline btn-primary btn-xs fa-solid fa-ellipsis" href="/transactions/<%= transactions[i]._id %>"><span class="sr-only">Details</span></a>
                  <form action="/transactions/delete/<%= transactions[i].id %>?_method=DELETE" method="POST" class="inline">
                    <button class="btn btn-error btn-xs fa fa-trash" type="submit"><span class="sr-only">Delete</span></button>
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <td class="uppercase text-base-content">Total</td>
              <td class="uppercase text-base-content">$<%= totalIncome - totalExpense %></td>
              <td class="text-green-500 text-right">$<%= totalIncome %></td>
              <td class="text-red-500 text-right">- $<%= totalExpense %></td>
              <td></td>
            </tr>
          </tfoot>
        </table>        
      </section>
    </div>
  </main>  
<%- include('partials/footer') -%>