<%- include('partials/header') -%>
  <main class="container mx-auto">
    <header>
      <h1 class="page-title">Accounts</h1>      
    </header>
    <div class="lg:grid lg:grid-flow-col lg:cols-2">
      <div class="main-card">
        <header>
          <h2 class="table-title">Add an Account</h2>
        </header>
        <section>
          <form class="grid grid-cols-12 gap-x-4 gap-y-2" action="/accounts/add" method="POST">
            <div class="form-control col-span-12">
              <label for="number" class="label">
                <span class="label-text">Account #</span>
              </label>
              <input type="text" class="input input-bordered input-sm" id="number" name="number">
            </div>
            <div class="form-control col-span-12">
              <label for="name" class="label">
                <span class="label-text">Name</span>
              </label>
              <input type="text" class="input input-bordered input-sm" id="name" name="name">
            </div>
            <div class="form-control col-span-12">
              <label for="description" class="label">
                <span class="label-text">Description</span>
              </label>
              <textarea class="textarea textarea-bordered" id="description" name="description"></textarea>
            </div>
            <div class="col-span-12 mt-4 flex justify-center">
              <button id="add-transaction" class="btn btn-accent" type="submit">Add Account</button>
            </div>
          </form>
        </section>
      </div>
      <div class="main-card">
        <header>
          <h2 class="table-title">Chart of Accounts</h2>
        </header>
        <section class="overflow-x-auto">
          <% if (locals.messages.errors) { %> 
            <% messages.errors.forEach( el => { %>
          <div class="alert alert-error my-2">
            <div>
              <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
              <span><%= el.msg %></span>
            </div>
          </div>
            <% }) %>
          <% } %>
          <table class="table table-compact w-full">
            <thead>
              <tr>
                <th>
                  <a class="link" href="/accounts/sort/number">Account #</a>
                </th>
                <th>
                  <a class="link" href="/accounts/sort/name">Name</a>
                </th>
                <th class="text-right">Info/Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < accounts.length; i++) { %>          
                <tr>
                    <td>
                      <a class="link" href="/accounts/<%= accounts[i]._id %>">
                        <%= accounts[i].number %>
                      </a>
                    </td>
                    <td>
                      <a class="link" href="/accounts/<%= accounts[i]._id %>">
                        <%= accounts[i].name %>
                      </a>
                    </td>          
                  <td class="text-right">
                    <a class="btn btn-outline btn-primary btn-xs fa-solid fa-ellipsis" href="/accounts/<%= accounts[i]._id %>"><span class="sr-only">Details</span></a>
                    <form
                    action="/accounts/<%= accounts[i]._id %>?_method=DELETE"
                    method="POST"
                    class="inline"
                    >
                      <button class="btn btn-error btn-xs fa fa-trash" type="submit"><span class="sr-only">Delete</span></button>
                    </form>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>        
        </section>
      </div>
    </div>
  </main>  
<%- include('partials/footer') -%>