<%- include('partials/header') -%>
  <main class="container mx-auto">
    <header>      
      <h1 class="page-title"><%= entity.name %></h1>
    </header>
    <div class="main-card">
      <h2 class="table-title">Entity Details</h2> 
      <section>           
        <form class="grid grid-cols-12 gap-x-8 gap-y-2" action="/entities/<%= entity._id %>?_method=PUT" method="POST">
          <div class="form-control col-span-12 lg:col-span-6">
            <label for="name" class="label">
              <span class="label-text">Name</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="name" name="name" value="<%= entity.name %>">
          </div>
          <div class="form-control col-span-12 lg:col-span-6">
            <label for="street" class="label">
              <span class="label-text">Street</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="street" name="street" value="<%= entity.street %>">
          </div>
          <div class="form-control col-span-12 sm:col-span-6">
            <label for="city" class="label">
              <span class="label-text">City</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="city" name="city" value="<%= entity.city %>"></input>
          </div>
          <div class="form-control col-span-6">
            <label for="state" class="label">
              <span class="label-text">State</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="state" name="state" value="<%= entity.state %>"></input>
          </div>
          <div class="form-control col-span-6">
            <label for="zip" class="label">
              <span class="label-text">Zip</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="zip" name="zip" value="<%= entity.zip %>"></input>
          </div>
          <div class="form-control col-span-6">
            <label for="country" class="label">
              <span class="label-text">Country</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="country" name="country" value="<%= entity.country %>"></input>
          </div>
          <div class="form-control col-span-6">
            <label for="phone" class="label">
              <span class="label-text">Phone</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="phone" name="phone" value="<%= entity.phone %>"></input>
          </div>
          <div class="form-control col-span-12 sm:col-span-6">
            <label for="email" class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="text" class="input input-bordered input-sm" id="email" name="email" value="<%= entity.email %>"></input>
          </div>
          <div class="form-control col-span-12">
            <label for="notes" class="label">
              <span class="label-text">Notes</span>
            </label>
            <textarea class="textarea textarea-bordered" id="notes" name="notes"> <%= entity.notes %></textarea>
          </div>
          <div class="col-span-12 flex justify-center m-4">
            <button id="add-transaction" class="btn btn-accent" type="submit">Update Entity</button>
            <a href="/entities" class="btn btn-outline btn-primary ml-2">Cancel</a>
          </div>
        </form>
      </section>
    </div>
    <div class="main-card">
      <header>
        <h2 class="table-title">Transactions - <%= entity.name %></h2>      
      </header>
      <section class="overflow-x-auto">
        <table class="table table-compact w-full">
          <thead>
            <tr>
              <th scope="col">
                <a class="link" href="/entities/<%= entity._id %>/sort/date">Date</a>                  
              </th>
              <th scope="col">
                <a class="link" href="/entities/<%= entity._id %>/sort/account">Account</a>
              </th>
              <th scope="col" class="text-right">
                <a class="link" href="/entities/<%= entity._id %>/sort/income">Income</a>
              </th>
              <th scope="col" class="text-right">
                <a class="link" href="/entities/<%= entity._id %>/sort/expense">Expense</a>
              </th>
              <th scope="col" class="text-right">Info/Delete</th>
            </tr>
          </thead>
          <tbody>
            <% if(!transactions.length) { %>
              <tr>
                <td colspan="6">
                  <p class="text-center">No transactions found.</p>
                </td>
              </tr>
            <% } %>
            <% for(var i=0; i < transactions.length; i++) { %>          
              <tr>
                <td><%= transactions[i].date %></td>
                <td>
                  <a class="link" href="/accounts/<%= transactions[i].accountId %>">
                    <%= transactions[i].account %>
                  </a>
                </td>
                <% if(transactions[i].income) { %>
                  <td class="text-green-500 text-right">$<%= transactions[i].income %></td>
                <% } else { %>
                  <td></td>
                <% } %>
                <% if(transactions[i].expense) { %>
                  <td class="text-red-500 text-right">- $<%= transactions[i].expense %></td>
                <% } else { %>
                  <td></td>
                <% } %>
                <td class="border-b-0 text-right">
                  <a class="btn btn-outline btn-primary btn-xs fa-solid fa-ellipsis" href="/transactions/<%= transactions[i]._id %>"><span class="sr-only">Details</span></a>
                  <form action="/transactions/delete/<%= transactions[i].id %>?_method=DELETE" method="POST" class="inline">
                    <button class="btn btn-error btn-xs fa fa-trash" type="submit"><span class="sr-only">Delete</span></button>
                  </form>
                </td>
              </tr>
            <% } %>
          </tbody>
          <tfoot>
            <tr>
              <td class="uppercase text-base-content"><span>Total</span></td>
              <td class="text-base-content">$<%= totalIncome - totalExpense %></td>
              <td class="text-green-500 text-right">$<%= totalIncome %></td>
              <td class="text-red-500 text-right">- $<%= totalExpense %></td>
              <td></td>
            </tr>
          </tfoot>
        </table>        
      </section>
    </div>
  </main>  
<%- include('partials/footer') -%>