<%- include('partials/header') -%>
  <main class="sm:container mx-auto">
    <header class="ml-4">
      <h1 class="page-title">Transaction Details</h2>
       
    </header>
    <section class="main-card overflow-x-auto">
      <h2 class="table-title">Transaction</h2>  
      <table class="table table-compact w-full">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Payee</th>
            <th scope="col">Account</th>
            <th scope="col">Type</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= transaction.date %>
            </td>
            <td>
              <a class="link" href="/entities/<%= transaction.payeeId %>">
                <%= transaction.payee %>
              </a>
            </td>
            <td>
              <a class="link" href="/accounts/<%= transaction.accountId %>">
                <%= transaction.account %>
              </a>
            </td>   
            <td>
                <%= transaction.type %>
            </td>     
            <% if(transaction.income) { %>
              <td class="text-green-500 font-bold">$<%= transaction.income %></td>
            <% } else { %>
              <td class="text-red-500 font-bold">- $<%= transaction.expense %></td>
            <% } %>
          </tr>
        </tbody>
      </table>
    </section>
    <div class="m-4 main-card">
      <header>
        <h2 class="table-title">Update Transaction</h2>
      </header>
      <section>
        <form class="grid grid-cols-12 gap-x-8 gap-y-2" action="/transactions/update/<%= transaction._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
          <div class="form-control col-span-6 md:col-span-4">
            <label for="date" class="label">
              <span class="label-text">Date</span>
            </label>
            <input id="date" class="input input-bordered input-sm" type="date" name="date" value="<%= transaction.date %>">
          </div>
          <div class="form-control col-span-6 md:col-span-4">
            <label for="payee" class="label justify-start">
              <span class="label-text">Payee</span>
              <a href="/entities" class="px-2 fa fa-circle-plus fa-xl text-primary"><span class="sr-only">Add New</span></a> 
            </label>
            <select class="select select-bordered select-sm" id="payee" name="payee">
              <option value="<%= transaction.payeeId %>"><%= transaction.payee %></option>
              <% for(let i = 0; i < entities.length; i++) { %>
                <option value="<%= entities[i]._id %>"><%= entities[i].name %></option>
              <% } %>
            </select>
          </div>
          <div class="form-control col-span-6 md:col-span-4">
            <label for="account" class="label justify-start">
              <span class="label-text">Account</span>
              <a href="/accounts" class="px-2 fa fa-circle-plus fa-xl text-primary"><span class="sr-only">Add New</span></a> 
            </label>
            <select class="select select-bordered select-sm" id="account" name="account">
              <option value="<%= transaction.accountId %>"><%= transaction.account %></option>
              <% for(let i = 0; i < accounts.length; i++) { %>
                <option value="<%= accounts[i]._id %>"><%= accounts[i].name %></option>
              <% } %>
            </select>
          </div>
          <div class="form-control col-span-6 md:col-span-4">
            <label for="amount" class="label">
              <span class="label-text">Amount</span>
            </label>
            <div class="input-group grid grid-cols-5">
              <span class="justify-center font-semibold bg-base-200 text-inherit">$</span>
              <% if(transaction.income) { %>
                <input id="amount" class="input input-bordered input-sm col-span-4" type="number" name="amount" value="<%= transaction.income %>">
              <% } else { %>
                <input id="amount" class="input input-bordered input-sm col-span-4" type="number" name="amount" value="<%= transaction.expense %>">
              <% } %>
            </div>
          </div>
          <div class="col-span-12 md:col-span-4 flex justify-start md:justify-around items-end gap-x-2">
            <div class="form-control">
              <label class="label cursor-pointer">
                <span class="label-text mr-2">Income</span>
                <% if(transaction.type === 'Income') { %>
                  <input type="radio" name="type" class="radio checked:bg-green-500" value="Income" checked/>
                <% } else { %>
                  <input type="radio" name="type" class="radio checked:bg-green-500" value="Income"/>
                <% } %>
              </label>
            </div>
            <div class="form-control col-span-12 md:col-span-2 justify-end">
              <label class="label cursor-pointer">              
                <span class="label-text mr-2">Expense</span>
                <% if(transaction.type === 'Expense') { %>
                  <input type="radio" name="type" class="radio checked:bg-red-500" value="Expense" checked/>
                <% } else { %>
                  <input type="radio" name="type" class="radio checked:bg-red-500" value="Expense"/>
                <% } %>
              </label>
            </div>
          </div>
          <div class="form-control col-span-12 sm:col-span-6 sm:row-span-2">
            <label for="description" class="label">
              <span class="label-text">Description</span>
            </label>
            <textarea class="textarea textarea-bordered" id="description" name="description" rows="4"><%= transaction.description %></textarea>
          </div>
          <div class="col-span-12 sm:col-span-6">
            <label class="label">
              <span class="label-text">Documentation</span>
            </label>
            <div class="border rounded-lg w-full">
              <% if(!transaction.imageURL) { %>
                <div class="bg-base-200 flex justify-center items-center h-32">
                  <p>Empty</p>
                </div>
              <% } else { %>
              <a href="<%= transaction.imageURL %>">
                <img class="border rounded-lg mx-auto" src="<%= transaction.imageURL %>">
              </a>
              <% } %>
            </div>
          </div>
          <div class="form-control col-span-12 sm:col-span-6">  
            <label for="imgUpload" class="label">
              <span class="label-text">Update Documentation</span>
            </label>
            <input type="file" class="input input-bordered file:btn file:btn-primary file:h-full file:hover:bg-primary-focus file:mr-4 file:-ml-4 file:px-4 file:rounded-r-none" id="imageUpload" name="file">
          </div>
          <div class="col-span-12 flex justify-center my-4">
            <button id="update-transaction" class="btn btn-accent" type="submit">Update Transaction</button>            
          </div>
        </form>
        <div class="flex justify-center">
          <input class="btn btn-outline btn-secondary" name="action" onclick="history.back()" type="submit" value="Back"/>
        </div>
      </section>
    </div>
  </main>  
<%- include('partials/footer') -%>